$titleFontSize: 42px;

.container {
    background-color: black;
    min-height: 100vh;
    padding: 20px;
}

.title {
  font-size: $titleFontSize;
  text-align: center;
  color: white;
  font-family: 'Bangers-Regular';
}